# Reddit API App ID
APP_ID=
# Reddit API App Secret
APP_SECRET=cTs0NVQTOa8chngT-2GIGEiALVw
# Reddit account username
USERNAME=
# Reddit account user password
USER_PASSWORD=
# Subreddit to administer
SUBREDDIT=survivor
# Subject of triggering message
MESSAGE_SUBJECT=flair
# Toggle logging
LOGGING=True
# Set frequency at which bot accepts commands (typically 1)
REFRESH_INTERVAL=1
