# Toggle logging
LOGGING=
# Set frequency at which bot accepts commands (typically 1)
REFRESH_INTERVAL=
# Reddit API App ID
APP_ID=
# Reddit API App Secret
APP_SECRET=
# Reddit account username
USERNAME=
# Reddit account user password
USER_PASSWORD=
# Subreddit to administer
SUBREDDIT=
# Slack API Oauth Token
SLACK_BOT_TOKEN=
# Slack Signing Secred
SLACK_SIGNING_SECRET=

# You need a newline after the last env option to prevent issues.